body {
  background-color: #0D0F10;
}
h1 {
  color: #F2EEE6;
  text-align:center;
  font-family: Barlow Condensed;
  text-transform: uppercase;
  text-shadow: 1.5px 1.5px 3px #BFC1C2;
}
h2 {
  color: #F2EEE6;
  text-align:center;
  font-family: Barlow Condensed;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #BFC1C2;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  background-color: #333333;
  display: flex;
  color: #A7AAAD;
}
ul li a {
  display: block;
  color: #202326;
  padding: 30px 18px;
  text-decoration: none;
  color: #F2EEE6;
}
ul li a:hover:not(.active) {
  background-color: #151719;
  color: #A7AAAD;
}
ul li a.active {
  background-color: #8F1117;
  color: #F2EEE6;
}
div.article {
  float:center;
  width: 700px;
  margin: auto;
  color:#BFC1C2;
  background-color: #151719;
  font-family: Oswald, sans-serif;
  padding: 20px;
  text-align: justify;
  font-size: 20px;
  overflow: 120%;
  border-radius: 10px;
}
div.image {
  color: #BFC1C2;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 15px;
}
a {
  color: #D71920;
  text-decoration: none;
}